#cover {
	background-image: url(../imgs/cover.png);
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: grid;
	grid-template-rows: 1fr 2fr;
}

#brand {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	font-size: calc(1.5vh + 2.5vw);
}

#brand #buzz-letter {
	position: absolute;
	left: -50px;
	top: -30px;
}

#brand #letter-slash {
	position: absolute;
}

#brand #quest-letter {
	position: absolute;
	top: 30px;
	right: -70px;
}

main {
	align-self: center;
}

#magazine-name {
	font-size: calc(3vh + 4vw);
	font-weight: bold;
	letter-spacing: 0.5rem;
	word-spacing: 1rem;
	margin: 3.5% auto;
	margin-top: 7%;
}

#enter-site {
	display: inline-block;
	padding: 0.9% 1.3%;
	font-size: 1rem;
	font-weight: bold;
	color: black;
	background: white;
	text-decoration: none;
	transition: transform 500ms ease-in;
}

#enter-site:hover,
#enter-site:visited {
	color: black;
}

#enter-site:hover {
	transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 1140px) {
	#brand {
		margin-top: 8%;
	}

	#brand #buzz-letter {
		position: absolute;
		left: -40px;
		top: -25px;
	}

	#brand #letter-slash {
		position: absolute;
	}

	#brand #quest-letter {
		position: absolute;
		top: 25px;
		right: -60px;
	}
}

@media only screen and (max-width: 1048px) {
	#brand {
		margin-top: 12%;
	}

	#brand #buzz-letter {
		position: absolute;
		left: -35px;
		top: -25px;
	}

	#brand #letter-slash {
		position: absolute;
	}

	#brand #quest-letter {
		position: absolute;
		top: 25px;
		right: -55px;
	}
}

@media only screen and (max-width: 940px) {
	#brand {
		margin-top: 16%;
	}
}

@media only screen and (max-width: 876px) {
	#brand {
		margin-top: 20%;
	}
}

@media only screen and (max-width: 805px) {
	#brand {
		margin-top: 24%;
	}
}

@media only screen and (max-width: 760px) {
	#brand {
		margin-top: 30%;
	}
}
